*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url("../images/a.jpg") ;
    background-size: cover;
}

.back{
    background-color: black;
}
.navigation{
    float: right;
    margin-top: 30px ;
    margin-right: 60px;
}
.navigation a{
    text-decoration: none;
    color: aliceblue;
    border: 1px solid black;
    margin: 5px;
}
